<h2><%= @algoproduct.name %></h2>
<p>
	<%= @algoproduct.desc %>
</p>
<p>
	<%= @algoproduct.algo %>
</p>
<%= link_to "Back", algoproducts_path %>
</br>
</br>
<%= link_to "New Algo Product", new_algoproduct_path %>
