<h2><%= @algoproduct.name %></h2>
<p>
	<%= @algoproduct.desc %>
</p>
<p>
	<%= @algoproduct.algo %>
</p>
<%= link_to "Back", algoproducts_path %>
</br>
</br>
<%= link_to "New Algo Product", new_algoproduct_path %>
<h2>Rekomendasi yang ditawarkan</h2>
<button type="button" onclick="myFunction()">Algoritma 1</button>
<button type="button" onclick="myFunction()">Algoritma 2</button>
<div id="recom">
</div>
<h5>This is Test</h5>
<%= link_to "Algo Product", algoproducts_path %>
<%= link_to "New Algo Product", new_algoproduct_path %>