<h1>Mini-BL</h1>
<h3>List Product</h3>
<ul>
  <% @products.each do |p| %>
    <li><%= link_to p.name, p %></li>
  <% end %>
</ul>
<%= link_to "New Product", new_product_path %>
<%= form_tag products_path, :method => :get, :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
<div id="products">
  <%= render @products %>
</div>